.selectContainer {
  display: flex;
  flex-direction: column;
}

.selectTrigger {
  all: unset;

  cursor: pointer;

  display: inline-flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;

  height: 36px;
  padding: 0 12px;

  font-size: 13px;
  line-height: 1;
  color: var(--color-light-100);

  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  &:hover:not([data-disabled]) {
    background-color: var(--color-dark-500);
  }

  &:focus-visible {
    border: 1px solid var(--color-info-700);
  }

  &[data-state='open'] {
    border-color: var(--color-dark-100);
    border-radius: 2px 2px 0 0;
  }

  &[data-disabled] {
    cursor: initial;
    color: var(--color-dark-300);
    border-color: var(--color-dark-300);
  }

  &.pagination {
    height: 20px;
    padding: 0 0 0 6px;
    font-size: var(--font-size-s);
    line-height: var(--line-height-m);
  }
}

.selectIcon {
  width: 16px;
  height: 16px;
  margin-top: 3px;

  color: var(--color-light-100);

  transition: var(--transition-f) transform;

  .selectTrigger[data-state='open'] > & {
    transform: rotate(180deg);
  }

  .selectTrigger[data-disabled] & {
    color: var(--color-dark-300);
  }
}

.selectContent {
  z-index: 9999;

  overflow: hidden;

  width: var(--radix-select-trigger-width);
  max-height: 200px;

  background-color: var(--color-dark-900);
  border-top: 0;
  border-right: 1px solid var(--color-dark-100);
  border-bottom: 1px solid var(--color-dark-100);
  border-left: 1px solid var(--color-dark-100);
  border-radius: 0 0 2px 2px;
}

.selectItem {
  cursor: pointer;
  user-select: none;

  position: relative;

  display: flex;
  align-items: center;

  height: 36px;
  padding: 0 35px 0 25px;

  font-size: 13px;
  line-height: 1;
  color: var(--color-light-100);

  border-radius: 0 0 2px 2px;

  &[data-disabled] {
    pointer-events: none;
    color: var(--color-dark-300);
  }

  &[data-highlighted] {
    color: var(--color-accent-300);
    background-color: var(--color-accent-900);
    outline: none;
  }
}

.selectLabel {
  color: var(--color-dark-100);

  &[data-disabled] {
    color: var(--color-dark-300);
  }
}
