.pagination {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.pagination span {
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;

  border-radius: 2px;
}

.pagination span:hover {
  color: var(--color-light-100);
  background-color: var(--color-dark-500);
}

.currentPage {
  font-weight: bold;
  color: var(--color-dark-900);
  background-color: var(--color-light-100);
}

.select {
  height: 10px;
}
