.dialogOverlay {
  position: fixed;
  z-index: 1;
  inset: 0;

  background-color: rgb(0 0 0 / 50%);

  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.dialogContent {
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;

  width: 90vw;
  max-width: 450px;
  max-height: 85vh;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: 2px;

  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);

  &:focus {
    outline: none;
  }
}

.contentBox {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 23px;
}

.dialogHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 60px;
  padding: 0 23px;

  border-bottom: 1px solid var(--color-dark-500);
}

.dialogTitle {
  margin: 0;
}

.iconButton {
  all: unset;

  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 25px;
  height: 25px;

  font-family: inherit;

  border-radius: 100%;

  &:hover {
    background-color: var(--color-accent-300);
  }

  &:focus {
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    transform: translate(-50%, -48%) scale(0.96);
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
