.buttonContainer {
  display: flex;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.center {
  justify-content: center;
}

.button {
  all: unset;

  cursor: pointer;

  display: inline-flex;
  gap: 12px;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: fit-content;
  height: 36px;
  padding: 6px 28px;

  font-family: inherit;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  color: inherit;
  white-space: nowrap;

  border-radius: 4px;

  &:focus-visible {
    outline: 2px solid var(--color-info-500);
  }

  &:focus {
    outline: 2px solid var(--color-info-500);
  }

  &:disabled {
    cursor: initial;
  }
}

.button a {
  box-sizing: border-box;
}

.primary {
  background-color: var(--color-accent-500);

  &:hover {
    background-color: var(--color-accent-300);
  }

  &:active {
    background-color: var(--color-accent-700);
  }

  &:disabled {
    color: var(--color-light-900);
    background-color: var(--color-accent-900);
  }
}

.secondary {
  background-color: var(--color-dark-300);

  &:hover {
    background-color: var(--color-dark-100);
  }

  &:active {
    background-color: var(--color-dark-500);
  }

  &:disabled {
    color: var(--color-light-900);
    background-color: var(--color-dark-300);
  }
}

.fullWidth {
  width: 100%;
}

.icon {
  padding: 0;

  &:focus {
    outline: none;
  }
}
