.authContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left {
  align-items: flex-start;
}

.center {
  align-items: center;
}

.right {
  align-items: flex-end;
}

.authFooter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
